<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<ul>
			<li><a href="/path">Roadmap Pathfinder</a></li>
			<li><a href="/house">Satellite House Detector</a></li>
			<li><a href="/shape">Satellite House Shape Processor</a></li>
		</ul>
	</body>
</html>