<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/shape.js"></script>
	</head>
	<body>
		<ul class="nav-site">
			<li><a href="/path">Roadmap Pathfinder</a></li>
			<li><a href="/house">Satellite House Detector</a></li>
			<li><a href="/shape">Satellite House Shape Processor</a></li>
		</ul>
		<p id="info"></p>

		<button id="button-contrast">Local Contrast</button>
		<button id="button-colormap">Color Map</button>
		<button id="button-edge">Edge Detection</button>
		<button id="button-merge">Merge</button>
		<button id="button-reset">Reset</button>

		<canvas id="canvas" width="443" height="600" style="border:1px solid #000000;" ></canvas>
	</body>
</html>