html, body {
	font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#map-canvas { 
	position: absolute;
	top: 0px;
	left: 0px;
	height: 225px;
	width: 225px;
	margin: 0px;
	padding: 0px;
}

#copy-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	height: 225px;
	width: 225px;
	border:1px solid #000000;
}

.nav-site {
	float: right;
	margin: 0;
}

#info {	
	float: right;
	margin: 0
}